html, body {
  height: 100%;
  margin: 0;

  font-family: Avenir, Helvetica Neue, Helvetica, Arial;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.margin {
  flex: 1 1 auto;
}

.center {
  max-width: 1095px;
}

.separator {
  color: #B27300;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/**********************************************************************/
/*************************** Header, Footer ***************************/
/**********************************************************************/

  .header, .footer {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .header img, .footer img {
    width: 100%;
    object-fit: contain;
  }

  .header .background, .footer .background {
    position: absolute;
    top: 0px;
    width: 100%;
    background: rgba(256, 256, 256, 0.75);
  }

/**********************************************************************/
/******************************* Header *******************************/
/**********************************************************************/

  .header {
    height: 125px;
    -webkit-box-shadow: 0px 1px 4px 0px #bbb;
    -moz-box-shadow: 0px 1px 4px 0px #bbb;
    box-shadow: 0px 1px 4px 0px #bbb;
  }

  .header .background {
    height: 125px;
  }

  .header .background h1 {
    margin: 14px 0px 0px 25px;
    color: #B27300;
    font-size: 54px;
    font-family: Georgia, serif;
  }

  .header .background p {
    margin: 0px 0px 0px 25px;
    font-size: 12pt;
  }

  .column {
    display: inline-block;
    height: 100%;
    top: 0px;
  }

/******************************** Menu ********************************/

  #menu {
    float: right;
    padding: 13px;
  }

  .menuitem {
    font-size: 17px;
    cursor: pointer;
    float: right;
    margin-top: 2px;
  }

  .menuitem:hover, .menuitem a:hover {
    color: #B27300;
  }

  .menuitem a  {
    text-decoration: none;
    color: black;
  }

  .menuitem.selected, .menuitem.selected a {
    color: #B27300;
    font-weight: bold; 
  }

/**********************************************************************/
/******************************* Footer *******************************/
/**********************************************************************/

  .footer, .footer .background {
    height: 40px;
  }

  .footer .background p {
    float: right;
    margin-right: 10px;
    font-size: 10pt;
  }

/**********************************************************************/
/******************************** Body ********************************/
/**********************************************************************/

  .body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    width: 100%;
  }

  .content {
    flex: 1 1 auto;
  }

/******************************** About *******************************/
  
  #About {
    display: flex;
    flex-flow: row;
    margin: 20px 0px 0px 0px;
  }

  #aboutblock {
    display: flex;
    flex-flow: row;
    min-height: 30px;
  }

  #profileblock {
    margin: 20px 20px 0px 0px;
    font-size: 11pt;
  }

  #profileblock img {
    flex: none;
    align-self: center;
    width: 155px;
    height: 155px;
    border-radius: 10px;
  }

  #profileblock .fa {
    display: inline-block;
    color: #636363;
  }

  #profileblock a {
    display: inline-block;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    color: #636363;
  }

  #objective {
    margin: 22px 0px 0px 0px;
  }

  #objective a, #background a {
    text-decoration: none;
    color: #B27300;
  }

  #objective .link:hover, #background .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

/************************* Citation (General) *************************/

  .publication {
    min-height: 60px;
    padding: 5px 0px;
    display: flex;
    flex-flow: row;
  }

  .publication img {
    flex: none;
    width: 156px;
    height: 78px;
    margin: 5px 0px;
  }

  .publication img.small {
    flex: none;
    width: 120px;
    height: 60px;
    margin: 5px 0px;
  }

  .publication img:hover, .recent img:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 3px #ddd;
    -moz-box-shadow: 0px 0px 5px 3px #ddd;
    box-shadow: 0px 0px 5px 3px #ddd;
  }

  .paper {
    flex: 80% 0 auto;
    display: inline-block;
    padding: 0px 0px 0px 15px;
  }

  .publication p {
    display: inline;
    margin: 0px;
  }

  .publication .title {
    font-weight: bold;
    display: block;
  }

  .publication .title:hover, .recent .title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .publication .jane, .recent .jane {
    color: #B27300;
  }

  .publication .authors {
    display: block;
    color: black;
  }

  .publication .venue, .recent .venue {
    font-style: oblique;
    color: black;
  }

  .publication .icon {
    color: gray;
    font-size: 11pt;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
  }

  .publication a, .recent a {
    text-decoration: none;
    color: gray;
    margin: 0px 5px 0px 0px;
  }

  .publication a:hover, .recent a:hover { 
    cursor: pointer;
    color: #B27300;
    text-decoration: underline;
  }

  .publication .award, .icon.fa-trophy {
    color: #B27300;
    font-weight: bold;
  }

/************************** Citation (Recent) *************************/

  #publicationblock {
    display: flex;
    flex-wrap: wrap;
  }

  .recent {
    width: 320px;
    height: 250px;
    margin: 0px 15px 0px 0px;
  }

  .recent img {
    flex: none;
    width: 320px;
    height: 160px;
  }

  .recent .paper {
    display: block;
    width: 320px;
    padding: 0px;
    font-size: 10pt;
    line-height: 12pt;
  }

  .recent p {
    display: inline;
    margin: 0px;
  }

  .recent .title {
    font-weight: bold;
  }

/**************************** Paper Details ***************************/

  .paper-details h2 {
    margin-bottom: 0px;
  }

  .paper-details h3 {
    display: inline-block;
    font-weight: normal;
    margin: 0px 10px 0px 0px;
  }

  .paper-details h3.award {
    color: #B27300;
    font-weight: bold;
  }

  .paper-details .icon {
    margin: 0px 5px;
  }

  .paper-details h4 {
    font-size: 14pt;
    font-variant: small-caps;
    margin: 10px 0px 0px 0px;
  }

  .figure {
    margin: 0px;
    min-width: 350px;
    max-width: 1090px;
  }

  .figure img {
    width: 100%;
    object-fit: contain;
  }

  .figure p {
    font-style: italic;
    font-size: 10pt;
    margin: 0px;
  }

  .abstract {
    flex: 40% 0 auto;
    min-width: 350px;
    max-width: 1090px;
  }

  .abstract p {
    margin: 0px;
    text-align: justify;
  }

  .materials a {
    text-decoration: none;
    color: gray;
    display: inline-block;
  }

  .materials a:hover {
    cursor: pointer;
    color: #B27300;
  }

/************************** Curriculum Vitae **************************/

  #CurriculumVitae {
    padding: 0px;
    overflow: hidden;
  }

  #CurriculumVitae embed {
    width: 100%;
    height: 100%;
  }

/*************************** Conference Map ***************************/

  #ConferenceMap {
    padding: 0px;
    overflow: hidden;
  }

/**************************** BibTeX Block ****************************/

  .bibtex-text.selected {
    font-weight: bold;
    color: #B27300;
  }

  .bibtex {
    cursor: text;
    background: #eee;
    overflow-y: scroll;
    padding: 10px;
  }

  .bibtex pre {
    font-size: 10pt;
    margin: 0px;
  }