/**********************************************************************/
/** Basic Tag Properties **********************************************/
/**********************************************************************/

  html, body {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial;
    font-size: 26pt;
    height: 100%;
    margin: 0;

  }

  h2 {
    font-size: 36pt;
  }

  h4 {
    font-size: 28pt;
    font-variant: small-caps;
    margin: 10px 0px 0px 0px;
  }

/**********************************************************************/
/** Basic Layout Classes **********************************************/
/**********************************************************************/

  .container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .margin {
    flex: 1 1 auto;
    min-width: 25px;
  }

/**********************************************************************/
/** General Style Classes *********************************************/
/**********************************************************************/

  .separator {
    color: #B27300;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/**********************************************************************/
/** Header ************************************************************/
/**********************************************************************/

  .header {
    z-index: 1;
    width: 100%;
    height: 240px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 1px 4px 0px #bbb;
    -moz-box-shadow: 0px 1px 4px 0px #bbb;
    -webkit-box-shadow: 0px 1px 4px 0px #bbb;
  }

  .header .background {
    background: rgba(256, 256, 256, 0.75);
    position: absolute;
    height: 240px;
    width: 100%;
    top: 0px;
  }

  .header #backgroundimg {
    object-fit: contain;
    width: 100%;
  }

  .header .background #information {
    height: 195px;
  }

  .header .background #profile {
    border-radius: 10px;
    height: 175px;
    width: 175px;
    margin: 10px 20px 10px 10px;
  }

  .header .background h1 {
    margin: 0px;
    display: flex;
    color: #B27300;
    font-size: 98px;
    font-family: Georgia, serif;
  }

  .header .background p {
    font-size: 21.5pt;
    margin: 0px;
  }

  .column {
    display: flex;
    flex-flow: row;
    height: 100%;
    top: 0px;
  }

/**********************************************************************/
/** Menu **************************************************************/
/**********************************************************************/

  #menu {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 45px;
  }

  .menuitem {
    display: block;
    flex: 1 1 auto;
    font-size: 21pt;
    cursor: pointer;
    margin: 5px 0px 5px 35px;
  }

  .menuitem a  {
    text-decoration: none;
    color: black;
  }

  .menuitem.selected, .menuitem.selected a {
    color: #B27300;
    font-weight: bold; 
  }

/**********************************************************************/
/** Footer ************************************************************/
/**********************************************************************/

  .footer {
    flex: 0 0 auto;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .footer .background {
    background: rgba(256, 256, 256, 0.75);
    height: 40px;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .footer #backgroundimg {
    object-fit: contain;
    width: 100%;
  }

  .footer .background p {
    float: right;
    font-size: 16pt;
    margin: 8px 10px 0px 0px;
  }

/**********************************************************************/
/** Body **************************************************************/
/**********************************************************************/

  .body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    width: 100%;
  }

  .content {
    flex: 1 1 auto;
  }

/**********************************************************************/
/** About *************************************************************/
/**********************************************************************/
  
  #About {
    display: flex;
    flex-flow: row;
    margin: 20px 0px 0px 0px;
  }

  #objective {
    margin: 22px 0px 0px 0px;
  }

  #objective a, #background a {
    text-decoration: none;
    color: #B27300;
  }

/**********************************************************************/
/** Profile ***********************************************************/
/**********************************************************************/

  #profileblock {
    display: none;
  }

/**********************************************************************/
/** Publication (General) *********************************************/
/**********************************************************************/

  .publication {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    margin: 0px 15px 60px 0px;
    min-height: 60px;
    padding: 0px;
  }

  .publication img {
    flex: 1 1 auto;
    height: auto;
    margin: 0px;
    width: 100%;
  }

  .publication p {
    display: inline;
    margin: 0px;
  }

  .publication .title {
    font-weight: bold;
  }

  .publication .jane {
    color: #B27300;
    display: inline-block;
  }

  .publication .venue {
    font-style: oblique;
  }

  .publication .links {
    display: block;
  }

  .publication .iconelement {
    cursor: pointer;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
  }

  .publication .iconelement a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
  }

  .publication .icon {
    color: gray;
    margin: 0px 10px 0px 0px;
  }

  .publication .award, .publication .award a {
    color: #B27300;
    cursor: default;
    font-weight: bold;
  }

/**********************************************************************/
/** Publication (Featured) ********************************************/
/**********************************************************************/

  #publicationblock {
    display: flex;
    flex-wrap: wrap;
  }

  #publicationblock .publication .venue.long {
    display: none;
  }

/**********************************************************************/
/** Publication (List) ************************************************/
/**********************************************************************/

  #Publications .publication .venue.short {
    display: none;
  }

  #Publications .publication .links {
    display: inline;
  }

/**********************************************************************/
/** Publication (Citation) ********************************************/
/**********************************************************************/

  .citation .links, 
  .citation .venue.short {
    display: none;
  }

/**********************************************************************/
/** Paper Details *****************************************************/
/**********************************************************************/

  .paper-details h2 {
    margin-bottom: 0px;
  }

  .paper-details h3 {
    font-weight: normal;
    margin: 0px 10px 0px 0px;
  }

  .paper-details h3.award {
    color: #B27300;
    display: inline-block;
    font-weight: bold;
  }

  .paper-details .icon {
    color: #B27300;
    margin: 0px 5px;
  }

  .figure {
    margin: 0px;
  }

  .figure img {
    width: 100%;
    object-fit: contain;
  }

  .figure p {
    font-style: italic;
    font-size: 17pt;
    margin: 0px;
  }

  .abstract p {
    margin: 0px;
    text-align: justify;
  }

  .materials a {
    color: gray;
    display: inline-block;
    text-decoration: none;
  }

/**********************************************************************/
/** Curriculum Vitae **************************************************/
/**********************************************************************/

  #CurriculumVitae {
    padding: 0px;
    overflow: hidden;
  }

  #CurriculumVitae embed {
    width: 100%;
    height: 100%;
  }

/**********************************************************************/
/** Conference Map ****************************************************/
/**********************************************************************/

  #ConferenceMap {
    padding: 0px;
    overflow: hidden;
  }

/**********************************************************************/
/** BibTeX Block ******************************************************/
/**********************************************************************/

  .bibtex-text.selected {
    font-weight: bold;
    color: #B27300;
  }

  .bibtex {
    background: #eee;
    cursor: text;
    overflow-y: scroll;
    padding: 10px;
  }

  .bibtex pre {
    font-size: 24pt;
    margin: 0px;
  }
