/********* About block *********/

.mobile #profileblock {
  display: none;
}

.mobile .center {
  margin: 0px 20px;
}

/****** Publications *******/

.mobile .publication {
  flex-flow: column;
}

.mobile .publication img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  align-self: center;
  -webkit-box-shadow: 0px 0px 5px 3px #ddd;
  -moz-box-shadow: 0px 0px 5px 3px #ddd;
  box-shadow: 0px 0px 5px 3px #ddd;
}

.mobile .paper {
  align-self: center;
  width: 100%;
  padding: 7px 0px;
}

.mobile .publication p {
  font-size: 16pt;
  display: inline;
}

.mobile .publication a {
  text-decoration: none;
  color: gray;
  font-size: 16pt;
}

/****** Paper Details *******/

.mobile .paper-container {
  flex-flow: column-reverse;
}

.mobile .abstract {
  flex: 100% 0 auto;
  max-width: 100%; 
}

.mobile .figure {
  flex: 100% 0 auto;
  max-width: 100%;
}

.mobile .abstract a {
  font-size: 16pt;
}

.mobile .bibtex pre {
  font-size: 14 pt;
  margin: 0px;
}