@media only screen and (min-width: 1145px) {

/**********************************************************************/
/** Basic Tag Properties **********************************************/
/**********************************************************************/

  html, body {
    font-size: 12pt;
  }

  h2 {
    font-size: 18pt;
  }

  h4 {
    font-size: 14pt;
  }

/**********************************************************************/
/** Basic Layout Classes **********************************************/
/**********************************************************************/

  .center {
    max-width: 1095px;
  }

/**********************************************************************/
/** General Style Classes *********************************************/
/**********************************************************************/

  /* See website-mobile.css */

/**********************************************************************/
/** Header ************************************************************/
/**********************************************************************/

  .header {
    height: 125px;
  }

  .header .background {
    height: 125px;
  }

  .header .background #information {
    height: 125px;
  }

  .header .background #profile {
    display: none;
  }

  .header .background h1 {
    font-size: 54px;
    margin: 14px 0px 0px 25px;
  }

  .header .background p {
    font-size: 12pt;
    margin: 0px 0px 0px 25px;
  }

  .column {
    display: inline-block;
  }

/**********************************************************************/
/** Menu **************************************************************/
/**********************************************************************/

  #menu {
    display: block;
    width: 155px;
    float: right;
    padding: 13px;
  }

  .menuitem {
    flex: none;
    float: right;
    font-size: 13pt;
    margin: 1.5px;
  }

  .menuitem:hover, .menuitem a:hover {
    color: #B27300;
  }

/**********************************************************************/
/** Footer ************************************************************/
/**********************************************************************/

  .footer .background p {
    font-size: 10pt;
    margin: 12px 10px 0px 0px;
  }

/**********************************************************************/
/** Body **************************************************************/
/**********************************************************************/

  /* See website-mobile.css */

/**********************************************************************/
/** About *************************************************************/
/**********************************************************************/

  #aboutblock {
    display: flex;
    flex-flow: row;
    min-height: 30px;
  }

  #objective .link:hover, #background .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

/**********************************************************************/
/** Profile ***********************************************************/
/**********************************************************************/

  #profileblock {
    display: block;
    margin: 20px 20px 0px 0px;
    font-size: 11pt;
  }

  #profileblock img {
    flex: none;
    align-self: center;
    width: 155px;
    height: 155px;
    border-radius: 10px;
  }

  #profileblock .fa {
    display: inline-block;
    color: #636363;
  }

  #profileblock a {
    display: inline-block;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
    color: #636363;
  }

/**********************************************************************/
/** Publication (General) *********************************************/
/**********************************************************************/

  .publication img:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 3px #ddd;
    -moz-box-shadow: 0px 0px 5px 3px #ddd;
    box-shadow: 0px 0px 5px 3px #ddd;
  }

  .publication .title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .publication a:hover { 
    cursor: pointer;
    color: #B27300;
    text-decoration: underline;
  }

/**********************************************************************/
/** Publication (Featured) ********************************************/
/**********************************************************************/

  #publicationblock .publication {
    display: flex;
    flex: 1 1 350px;
    flex-flow: column;
    margin: 0px 15px 15px 0px;
    min-height: 60px;
    font-size: 9.2pt;
  }

  #publicationblock .publication img {
    flex: none;
    width: 100%;
    height: auto;
    margin: 5px 0px;
  }

  #publicationblock .venue {
    margin: 0px 10px 0px 0px;
  }
  
  #publicationblock .publication .icon,
  #publicationblock .publication .iconelement {
    margin: 0px 5px 0px 0px;
  }

  #publicationblock .publication .links {
    display: inline-block;
  }

  #publicationblock .publication .bib {
    display: none;
  }

/**********************************************************************/
/** Publication (List) ************************************************/
/**********************************************************************/

  #Publications .publication {
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 5px 0px;
  }

  #Publications .publication img {
    flex: none;
    width: 176px;
    height: 88px;
  }

  #Publications .publication .paper {
    padding: 0px 0px 0px 15px;
  }

  #Publications p {
    display: block;
  }

  #Publications .publication .icon,
  #Publications .publication .iconelement {
    margin: 0px 5px 0px 0px;
  }

/**********************************************************************/
/** Publication (Citation) ********************************************/
/**********************************************************************/

  .citation .publication {
    display: flex;
    flex-flow: row;
    margin: 0px 0px 10px 0px;
    line-height: 15pt;
  }

  .citation .publication img {
    flex: none;
    width: 120px;
    height: 60px;
  }

  .citation .publication .paper {
    padding: 0px 0px 0px 15px;
  }

  .citation p {
    display: block;
  }

/**********************************************************************/
/** Paper Details *****************************************************/
/**********************************************************************/

  .paper-details h3 {
    display: inline-block;
    margin: 0px 10px 10px 0px;
  }

  .figure p {
    font-size: 10pt;
  }

  .materials a:hover {
    cursor: pointer;
    color: #B27300;
    text-decoration: underline;
  }

/**********************************************************************/
/** Resource (Button) *************************************************/
/**********************************************************************/

  /* See website-mobile.css */

/**********************************************************************/
/** Resource (Full) ***************************************************/
/**********************************************************************/

  #Resources .resource {
    border: 1px #aaa solid;
    cursor: pointer;
    margin: 4px;
    width: 240px;
  }

  #resblock img {
    width: 240px;
    height: 120px;
  }

  #resblock .resource div {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
  }

  #resblock .text {
    flex: 1 1 auto;
  }

  #resblock .date {
    font-size: 10pt;
  }

/**********************************************************************/
/** Conference Map ****************************************************/
/**********************************************************************/

  /* See website-mobile.css */

/**********************************************************************/
/** BibTeX Block ******************************************************/
/**********************************************************************/

  .bibtex pre {
    font-size: 10pt;
  }

}